@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/typography.scss" as *;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade1 {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  width: 900px;
}

.fade2{
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 4s; /* Firefox < 16 */
          -ms-animation: fadein 4s; /* Internet Explorer */
           -o-animation: fadein 4s; /* Opera < 12.1 */
              animation: fadein 4s;
}

.home {
  margin-top: 10.6rem;
  padding-top: 2.4rem;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.content {
  text-align: center;
}

#home-h1 {
  color: $font-color;
  font-size: 5rem;
}

#home-a {
  background-color: $button-color;
  padding: 0.5rem;
  border-radius: 2rem;
  color: $TDbackground-color;
  font-family: $modern-content;
  font-weight: bold;
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
  .home {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  #home-h1 {
    font-size: 4.5rem;
    margin: 2rem;
  }
  .fade1 {
    width: 100%;
  }
  #home-a {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 800px) {
  #home-h1 {
    text-align: center;
  }
}
