@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/typography.scss" as *;

.projects{    
    text-align: center;
    color: $font-color;
    margin: auto;  
    width: 800px;
}
.page-title{
    font-size: 4rem;
    padding-top: 2rem;
    margin: 2rem;
}
@media only screen and (max-width: 800px) {
    .projects{
        width: 90vw;
    }
}