@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/typography.scss" as *;

.graphics{    
    text-align: center;
    color: $font-color;
    margin: auto;  
    margin-top: 10.6rem;
    width: 800px;
}
.page-title{
    margin: 2.5rem;
}
@media only screen and (max-width: 800px) {
    .graphics{
        width: 90vw;
    }
}