$background-color: #353535;
$TDbackground-color: #21282a;
$transparent-background: rgba(53, 53, 70, 0.5);
$off-background-color: #284b63;
$font-color: #ffffff;
$button-color: #d9d9d9;

// General Fonts
$sub-heading-font: "Oswald", sans-serif;

// Modern Fonts
$modern-content: 'Josefin Sans', sans-serif;
$modern-header: 'Josefin Sans', sans-serif;

// Classic Fonts
$classic-header: "Playfair Display", serif;
$classic-content: "Lato", sans-serif;